name: loanapp-project-ci
on:
 push:
    branches:
      - main
    pull_request:
      branches:
        - main

    permissions:
      contents: read

env:
  GO_VERSION: '1.21'

jobs:
  build-test-scan:
    name: Build, Test and Scan
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component:
          - name: government-api
            path: './government_api/backend'
          - name: loanapp-validator
            path: './loan_validator_portal/backend'

    defaults:
      run:
        working-directory: ${{ matrix.component.path }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up GO
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
          cache-dependency-path: '**/go.sum'

      - name: Get dependencies
        run: |
           go mod download
           go mod verify

      - name: Build project {{ matrix.component.name }}
        run: go build -v main.go

      - name: Run tests for {{ matrix.component.name }}
        run: go test -v main.go

